@import "./../../../styles.scss";

.previous-results-container {
  padding: 1em;
  margin-top: 1em;
  color: $white;
}

.one-previous-guess-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr, 2fr;
  grid-row-gap: 5px;
  text-align: center;
  text-indent: unset;
  margin: 0.5em auto;
  width: 70%;
  padding: 0.2em;
  border-radius: 5px;
}

.name-previous {
  grid-area: 1 / 1 / 2 / 5;
  text-align: left;
  color: $white;
}

#artist-debut {
  grid-area: 2 / 1 / 3 / 2;
}
#artist-genre {
  grid-area: 2 / 2 / 3 / 3;
}
#artist-number {
  grid-area: 2 / 3 / 3 / 4;
}
#artist-country {
  grid-area: 2 / 4 / 3 / 5;
}

#artist-gender {
  grid-area: 2 / 5 / 3 / 6;
}
.one-category-good-answer {
  background-color: $right;
  color: black;
  padding: 0.4em;
  box-shadow: 0.6px 1.3px 1.3px hsl(0deg 0% 0% / 0.48);
}

.one-category-answer {
  background-color: $wrong;
  padding: 0.4em;
  box-shadow: 0.6px 1.3px 1.3px hsl(0deg 0% 0% / 0.48);
}

@media screen and (max-width: 992px) {
  .one-previous-guess-container {
    width: 100%;
  }
}
