@import "./../../styles.scss";

h1 {
  text-align: center;
  background-color: $darkcolor;
  padding: 0.6em;
}
div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  h1 {
    width: 90%;
  }
}
