@import "./../../../styles.scss";

.your-guess-container {
  padding: 1em;
  background-color: $white;
  border-radius: 0 0 10px 10px;
}
.proprieties-container {
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  justify-content: space-evenly;

  gap: 1em;
}
#artist-name {
  color: $white;
  padding: 0.5em;
  font-size: 1.2em;
  background-color: $darkcolor;
  width: 50%;
  margin: 1em auto;
  text-align: center;
  border-radius: 15px;
}
.one-line-guess-container {
  flex-wrap: wrap;
  margin-top: 1em;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.one-category-answer {
  background-color: $wrong;
  color: $black;
  text-align: center;
  border-radius: 25px;
  padding: 0.5em;
  width: 30%;
}
.one-category-good-answer {
  background-color: $right;
  color: $black;
  text-align: center;
  border-radius: 25px;
  padding: 0.5em;
  width: 30%;
}

.answer-results-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#good-answer {
  color: $right;
  margin-bottom: 1em;
}
.good-answer-gif {
  width: 80px;
}

@media screen and (max-width: 992px) {
  .proprieties-container {
    flex-wrap: wrap;
  }
}
