/* You can add global styles to this file, and also import other style files */
$black: rgb(35, 31, 31);
$white: rgb(249, 236, 236);
$darkcolor: rgb(70, 36, 76);
$firstcolor: rgb(113, 43, 117);
$secondcolor: rgb(199, 75, 80);
$thirdcolor: rgb(212, 155, 84);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: $black;
  color: $white;
}

h3 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.bold {
  font-weight: bolder;
}
