/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
  color: white;
}

h3 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.bold {
  font-weight: bolder;
}
