@if(goodAnswer){
<div class="new-button-container">
  <button class="new-button" (click)="resetGame()">
    <img src="/retry.svg" /> Play again
  </button>
</div>
} @if(triesCounter < 10 && !goodAnswer) {
<div class="search-container">
  <div>
    <h3>
      Enter the first letter of your guess
      <span class="tries-counter">{{ triesCounter }}/10</span>
    </h3>
    @if(triesCounter > 0 && triesCounter < 10){ @if (!hintShowing) {<button
      (click)="showHint()"
      id="hint-button"
    >
      Hint <img src="/help-logo.svg" class="icon-music" />
    </button>
    } @if(hintShowing) {
    <div class="hint-container">
      <img src="/logo-music-black.svg" class="icon-music" />
      <div>{{ artistToFind.hint }}</div>
    </div>
    } }
    <input (input)="displayArtistList()" [(ngModel)]="guess" />
  </div>

  @if (inputFilled) {

  <div class="buttons-container-guess">
    @for (artist of artistsListDisplay ; track artist.id) {
    <button (click)="selectArtist(artist)">{{ artist.name }}</button>
    }
  </div>

  }
</div>
} @if(triesCounter === 10 && !goodAnswer ) {
<div class="search-container" id="answer">
  The answer was <span class="bold">{{ artistToFind.name }}</span> ({{
    artistToFind.year
  }}
  | {{ artistToFind.genre }} | {{ artistToFind.number }} |
  {{ artistToFind.country }})
  <button id="new-button" (click)="resetGame()">Try again</button>
</div>
} @if (buttonClicked && triesCounter < 11) {
<app-results
  [newSelectedArtist]="selectedArtist"
  [artistToFind]="artistToFind"
  [goodAnswer]="goodAnswer"
  [goodCountry]="goodCountry"
  [goodDebut]="goodDebut"
  [goodGenre]="goodGenre"
  [goodNumber]="goodNumber"
  [debutBefore]="debutBefore"
  [numberInferior]="numberInferior"
  [goodGender]="goodGender"
></app-results>
<app-previous-results
  [previousArtists]="previousArtists"
  [artistToFind]="artistToFind"
></app-previous-results>
}
