@if(triesCounter < 10) {
<div class="search-container">
  <div>
    <h3>
      Enter the first letter of your guess
      <span class="tries-counter">{{ triesCounter }}/10</span>
    </h3>
    <input (input)="displayArtistList()" [(ngModel)]="guess" />
  </div>

  @if (inputFilled) {

  <div class="buttons-container-guess">
    @for (artist of artistsListDisplay ; track artist.id) {
    <button (click)="selectArtist(artist)">{{ artist.name }}</button>
    }
  </div>

  }
</div>
} @if(triesCounter === 10 ) {
<div class="search-container" id="answer">
  The answer was <span class="bold">{{ artistToFind.name }}</span> ({{
    artistToFind.debut
  }}
  | {{ artistToFind.genre }} | {{ artistToFind.number }} |
  {{ artistToFind.country }})
  <button class="new-button" (click)="resetGame()">Try again</button>
</div>

} @if (buttonClicked && triesCounter < 11) {
<app-results
  [newSelectedArtist]="selectedArtist"
  [artistToFind]="artistToFind"
  [goodAnswer]="goodAnswer"
  [goodCountry]="goodCountry"
  [goodDebut]="goodDebut"
  [goodGenre]="goodGenre"
  [goodNumber]="goodNumber"
  [debutBefore]="debutBefore"
  [numberInferior]="numberInferior"
></app-results>
<app-previous-results
  [previousArtists]="previousArtists"
  [artistToFind]="artistToFind"
></app-previous-results>
}
